<h1>Listing libposts</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @libposts.each do |libpost| %>
  <tr>
    <td><%= libpost.text %></td>
    <td><%= libpost.values %></td>
    <td><%= link_to 'Show', libpost %></td>
    <td><%= link_to 'Edit', edit_libpost_path(libpost) %></td>
    <td><%= link_to 'Destroy', libpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Libpost', new_libpost_path %>
