<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @libpost.text %>
</p>

<p>
  <b>Values:</b>
  <%= @libpost.values %>
</p>


<%= link_to 'Edit', edit_libpost_path(@libpost) %> |
<%= link_to 'Back', libposts_path %>
