<h1>Listing libs</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @libs.each do |lib| %>
  <tr>
    <td><%= lib.text %></td>
    <td><%= link_to 'Show', lib %></td>
    <td><%= link_to 'Edit', edit_lib_path(lib) %></td>
    <td><%= link_to 'Destroy', lib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lib', new_lib_path %>
